
// Options
$enable-transitions: true;
$body-bg: #f7f7f7;
$body-font-family:'Montserrat', sans-serif ; 
$body-color:#212224 ; 


$bg-pink:#c86dd7;

$text-color-1:#5c636f;
$text-color-2:#212224;
$text-color-3:#ffffff;


$list-border-color:#cccccc;
$active-color:#432cb3;

$green-success:green;
$danger-red:red;

$footer-bg-image: linear-gradient(to right, #4854b3, #695abe, #8760c7, #a466cf, #c06cd5);
$header-bg-image:linear-gradient(to right, #3023ae , #c86dd7); 