<div class="container-fluid pt-2 bg-white">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 pb-2">
            Booking Summary
        </div>
        <div class="col-12">
            <strong>{{ticketinfo.movieName}}</strong>
            <p>{{ticketinfo.grade}}| {{ticketinfo.language}}</p>
            <p> {{ticketinfo.theaterName}}</p>
            <p> {{ticketinfo.seatNo}} </p>
            <p> <strong>{{ticketinfo.bookDateTime | date:'d MMM, yyyy hh:mm a'}}</strong></p>

        </div>

    </div>
    <div class="row">
        <ul class="list-group mb-3 col-12">
            <li class="list-group-item d-flex justify-content-between lh-condensed border-0 pb-0 pt-0">
                <div>
                    <h6 class="my-0">Sub Total</h6>
                    <!-- <small class="text-muted">Rs 1652</small> -->
                </div>
                <span class="text-muted">{{ticketinfo.total| currency:'INR'}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed border-0 pb-0 pt-0">
                <div>
                    <h6 class="my-0">Booking Fees</h6>
                    <!-- <small class="text-muted">Brief description</small> -->
                </div>
                <span class="text-muted">{{globalConst.bookingFees| currency:'INR'}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed border-0 pb-0 pt-0">
                <div>
                    <h6 class="my-0">Integrated GST (IGST) @ {{globalConst.gstPercentage}}%</h6>
                    <!-- <small class="text-muted">Brief description</small> -->
                </div>
                <span class="text-muted">{{ticketinfo.gstAmount | currency:'INR'}}</span>
            </li>
           
        </ul>
    </div>
    <div class="row">
        <span class="col-8 d-block p-2 bg-pink text-white">Amount Payable</span>
        <span class="col-4 text-right d-block p-2 bg-pink text-white">{{ticketinfo.finalTotal| currency:'INR'}}</span>

    </div>
</div>