<div class="container-fluid pt-2 bg-white">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-8">
            <p class="booking-summary"> Booking Summary
            </p>
            <p class=" movie-name">{{ticketinfo.movieName}}</p>
            <p class="booing-summary-info ticket-info">{{ticketinfo.grade}}| {{ticketinfo.language}}</p>
            <p class="booing-summary-info theater-name"> {{ticketinfo.theaterName}}</p>        
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-4">
            <div class="img-right">
                <img src="./assets/poster.png"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-8">
            <p class="booing-summary-info ticket-info">{{ticketinfo.seatNo}}|</p>
            <p class="booing-summary-info ticket-bold"> {{ticketinfo.bookDateTime| date:'d MMM, yyyy hh:mm a'}}</p>        
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-4">
          <p class="ticket-bold-no">7</p>
          <p class="ticket-info">Tickets</p>
        </div>
    </div>
    <div class="row row-dotted-line">
        <div class="hori-line">
            <img src="./assets/border-doted.png"/>
        </div>
    </div>
    <div class="row">
        <ul class="list-group mb-3 col-12">
            <li class="font-10 list-group-item d-flex justify-content-between lh-condensed border-0 pb-0 pt-0">
                <div>
                    <p class="">Sub Total</p>
                </div>
                <span class="font-weight-bold">{{ticketinfo.total| currency:'INR'}}</span>
            </li>
            <li class=" font-10 list-group-item d-flex justify-content-between lh-condensed border-0 pb-0 pt-0">
                <div>
                    <p class="">Booking Fees</p>
                </div>
                <span class="font-weight-bold">{{globalConst.bookingFees| currency:'INR'}}</span>
            </li>
            <li class="font-10 list-group-item d-flex justify-content-between lh-condensed border-0 pb-0 pt-0">
                <div>
                    <p class="">Integrated GST (IGST) @ {{globalConst.gstPercentage}}%</p>
                </div>
                <span class="font-weight-bold">{{ticketinfo.gstAmount | currency:'INR'}}</span>
            </li>
        </ul>
    </div>
    <div class="row bg-pink">
        <div class="col-8 text-white pt-2 pb-2 font-10">Amount Payable</div>
        <div class="col-4 text-white pt-2 pb-2 font-16">{{ticketinfo.finalTotal| currency:'INR'}}</div>
    </div>
</div>