<nav class="navbar navbar-expand-sm bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 order-md-12 mb-12">
        <span class="sub-header movie-name">
          <mat-icon>keyboard_arrow_left</mat-icon>
          Kill Bill
        </span>
        <span class="sub-header other-info">
          <mat-icon>star_border</mat-icon>
          4.9
        </span>
        <span class="sub-header other-info">
          <mat-icon>access_time</mat-icon>TTT mins
        </span>
        <span class="sub-header other-info">
          <mat-icon> local_movies</mat-icon>
          A|English
        </span>
      </div>


    </div>

  </div>

</nav>