<!-- <mat-toolbar >
  <p  class="text-center footer">
    Copyright 2019 © Jaffa Entertainment Pvt. Ltd. All Rights Reserved. The content and images used on this site are copyright protected and copyrights vests with the respective owners. The usage of the content and images on this website is intended to promote the works and no endorsement of the artist shall be implied. Unauthorized use is prohibited and punishable by law
  </p>
</mat-toolbar> -->
<footer class="footer">
  <div class="container-fluid">
   <div class="row text-center">
    <div class="col-lg-12">©Copyright 2019 © Jaffa Entertainment Pvt. Ltd. All Rights Reserved. The content and images used on this site are copyright protected and copyrights vests with the respective owners. The usage of the content and images on this website is intended to promote the works and no endorsement of the artist shall be implied. Unauthorized use is prohibited and punishable by law
    </div>
   </div>
  
  </div>        
 </footer>